@import '../styles/variables';
@import '../styles/mixins';

.nav-button-group {
  position: absolute;
  right: 10px;
  top: 6px;
  display: inline-block;
}

.nav-button {
  background-color: #585861;
  display: inline-block;
  color: white;
  font-size: 14.5px;
  padding: 11px 13px;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
  /*border: 3px solid #585861;*/
  &:hover {
    background-color: #6d6d77;
  }
}

.save-button {
  position: relative;
}

.save-button-bar {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 2px;
}

.save-button-bar:before,
.save-button-bar:after {
  background-color: #fc8d2a;
  content: '';
  height: 2px;
  position: absolute;
  width: 0;
  transition: width .25s;
}

.save-button-bar:before {
  right: 50%;
}

.save-button-bar:after {
  left: 50%;
}

.save-button-bar.active:before,
.save-button-bar.active:after {
  width: 50%;
}

.nav-button:hover {
  cursor: pointer;
  /*background-color: red;*/
}

.nav-button:focus {
  outline: 0;
}

.tutorial-button {
  position: relative;
  padding-left: 30px;
}

.home-button,
.export-button,
.tutorial-button, {
  @include respond-to(handhelds) {
    @include hide();
  }
}

.tutorial-button-icon {
  &.icon-school {
    position: absolute;
    font-size: 17px;
    right: 66px;
    top: 9px;
  }
}

@-moz-document url-prefix() {
  .tutorial-button-icon {
    &.icon-school {
      right: 72px;
    }
  }
}

.fa-cloud,
.fa-file-pdf-o {
  font-size: 15px;
  margin-right: 6px;
}

.icon-bars{
  font-size: 15px;
}

@media only screen and (max-width: 1175px) {
  .nav-button-group {
    /*right: 54px;*/
  }
}
