@import 'variables';
@import 'mixins';

.nav {
  background-color: #3d4752;
  position: fixed;
  width: 100%;
  z-index: map-get($z-index, nav);
}

.nav-save-status {
  color: $grey-super-light;
  font-size: 14.5px;
}

.iconWrapper {
  height: 50px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #fc8d2a;
}

.iconWrapper:hover {
  cursor: pointer;
  background-color:#f99c46;
}
