.todo {
  position: absolute;
  right:10px;
  top: 60px;
  height: 265px;
  width: 300px;
  background:#ffc;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  text-align: center;
}

.todo:hover {
  cursor: move;
}

.todo h2 {
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  text-decoration: underline;
}

.todo ul {
  display: inline-block;
}

.todo li {
  text-align: left;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

.todo span {
  margin-top: 15px;
  text-decoration: underline;
  color: grey;
  font-size: .9em;
  font-style: italic;
  display: inline-block;
}

.todo span:hover {
  cursor: pointer;
}

