.bold {
  font-weight: bold;
}

.modal-step-0,
.modal-step-5 {
  padding-top: 86px;
  padding-bottom: 130px;
}

.modal-step-1 .modal-text-child {
  margin-left: 7%;
}

.modal-step-3 .modal-text-child {
  margin-left: 8%;
}

.modal-step-4 ul {
  margin-top: 0;
  display: inline-block;
  text-align: initial;
}

.modal-step-4 .list-wrapper {
  margin: 0 auto;
  width: 300px;
}

.modal-step-4 .modal-text-child,
.modal-step-8 .modal-text-child {
  margin-left: 4%;
}
.modal-step-5 .modal-text-child {
  margin-left: 9%;
}

.modal-step-4 .modal-title {
  font-size: 1.3em;
}


.modal-step-7 .modal-text-parent {
  margin-top: 20px;
}

.modal-step-7 .modal-text-child {
  margin-left: 6%;
}

.modal-step-7 .modal-text-child {
  margin-left: 6%;
}

.modal-step-10 .modal-text-child {
  margin-left: 3%;
}

.modal-step-6 .modal-text-child,
.modal-step-12 .modal-text-child,
.modal-step-13 .modal-text-child {
  margin-left: 5%;
}

.modal-step-6 p {
}

.modal-step-11 .modal-text {
  margin-bottom: 0;
}

.modal-step-11 p {
  margin-bottom: 0;
  display: inline-block;
  text-align: initial;
}

.modal-step-11 ul {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 15px;
}

.modal-step-11 li {
  margin: 10px 0;
  text-align: left;
}

.completed-htpc-project {
  width: 65%;
}

.com-connector-icon {
  border: 1px solid rgba(0, 0, 0, 0);
  width: 33%;
}

.real-com {
  width: 39%;
}

.real-require {
  margin: 0 auto;
}

.confirm-exit-tutorial .modal-text-child {
  text-align: center;
}

@media only screen and (max-width : 905px) {
  .modal-step-0 .modal-text-child {
    text-align: center;
    }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .modal-step-0 .modal-text-child {
    text-align: center;
  }

  .red-to-green,
  .real-power {
    width: 90%;
  }
}
