@import 'variables';

.documentation-card {
  margin-top: 55px;
  box-shadow: 0 4px 25px rgba(0,0,0,.3);
  padding-top: 12px;
  padding-left: 10px;
  position: absolute;
  bottom: 55px;
  right: 45px;
  height: 350px;
  width: 208px;
  border: 1px solid #adaeb3;
  font-size: .7em;
  background-color: white;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  z-index: map-get($z-index, info-card);
}

.doc-wrapper {
  margin: 0 auto;
  width: 80%;
}

.sub-doc {
  margin-bottom: 25px;
}

.list {
  padding: 0;
}

.or {
  margin-left: 0px;
  font-weight: bold;
  font-size: 8px;
}

.item {
  list-style-type: none;
  list-style-position:inside;
  margin: 5px 0;
  padding:0;
  line-height: 9px;
  font-size: 12px
}

.heading {
  line-height: 10px;
}

.sub-doc:nth-child(n+2) h2{
  margin-bottom: 14px;
}

.sub-heading {
  font-size: 12px;
  line-height: 4px;
}

.menu-item {
  display: inline-block;
  background-color: #e5e5e5;
  border-radius: 4px;
  padding: 3px;
  font-family:"Ubuntu Mono";
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  height: 10px;
}

.doc-wrapper p {
  font-style: italic;
  margin-top: 5px;
  color: #464a4e;
}
