.bold {
  font-weight: bold;
}

.modal-step-4 ul {
  margin-top: 0;
  display: inline-block;
  text-align: initial;
}

.modal-step-4 .list-wrapper {
  margin: 0 auto;
  width: 300px;
}

.modal-step-1 .modal-text-child {
  margin-left: 7%;
}

.modal-step-4 .modal-text-child {
  margin-left: 4%;
}

.modal-step-4 .modal-title {
  margin-left: 4%;
  font-size: 1.3em;
}

.modal-step-7 .modal-text-parent {
 margin-top: 10px;
}

.modal-step-1 .modal-title, 
.modal-step-4 .modal-title, 
.modal-step-6 .modal-title, 
/*.modal-step-9 .modal-title, */
.modal-step-10 .modal-title, 
.modal-step-7 .modal-title {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modal-step-6 p {
}

.modal-step-11 .modal-text {
  margin-bottom: 0;
}

.modal-step-11 p {
  margin-bottom: 0;
  display: inline-block;
  text-align: initial;
}

.modal-step-11 ul {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 15px;
}

.modal-step-11 li {
  margin: 10px 0;
  text-align: left;
}

.completed-htpc-project {
  width: 65%;  
}

.com-connector-icon {
  width: 33%;
}

.real-com {
  width: 39%;
}

.real-require {
  margin: 0 auto;
}




