.documentation-card {
  margin-top: 55px;
  box-shadow: 0 4px 25px rgba(0,0,0,.3);
  padding-left: 10px;
  position: absolute;
  bottom: 55px;
  right: 45px;
  height: 300px;
  width: 200px;
  border: 1px solid #adaeb3;
  font-size: .7em;
  background-color: white
}

.heading {
  font-size: 15px;
}

.sub-heading {
  
}
