.test {
  height: 100px;
  width: 100px;
  float: right;
  background: teal;
  z-index: 100;
}

.nav-dropdown {
  float: right;
  overflow: visible;
  top: 10px;
  right: 100px;
  padding-right: 100px;
}


.nav-dropdown {
  float: right;
  overflow: hidden;
  padding-right: 100px;
}

.dropdown-content{
  position: absolute;
  	left: 0;
  	top: auto;
  	display: none;
  	z-index:999;
  	width:auto
}