.module-icon {
  cursor: move;
  height: 70px;
  margin-bottom: 10px;
  position: relative;
  vertical-align: middle;
}

.module-icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30px;
  min-height: 30px;
  max-height: 70px;
  max-width: 100px;
}
