@import 'variables';
.footer {
  background-color: #e6e6e6;
  overflow: hidden;
  width: 100%;
  z-index: map-get($z-index, footer);
  position: fixed;
  height: 35px;
  padding-left: 15px;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #adaeb3;
}

.footer-wrapper {
  font-size: 13px;
}

.project-price {
  margin-left: 11px;
  margin-top: 10px;
}

.time-last-saved {
  position: absolute;
  right: 108px;
  bottom: 10px;
}

@media only screen and (max-width: 1175px) {
  .time-last-saved {
    right: 20px;
  }
}
