@import 'variables';

.logo {
  font-size: 25px;
  color: $black-faded;

  &.project-nav-logo {
    color: white;

    .logo-text {
      font-size: .85em;
    }

    cursor: pointer;
  }
}

.logo-image {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
  width: 1em;
}


.logo-text {
  font-size: 1em;
  vertical-align: middle;
}

.logo-text-bold {
  font-family: 'Lato';
  font-weight: 900;
}

.logo-text-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
