@import 'variables';

.icon-frame-container {
  position: relative;
  border: 1px solid #cdced1;
  background-color: white;
  width: 120px;
  margin: 10px auto;
  text-align: center;
}


.module-icon-frame-title {
  background-color: #cdced1;
  color: black;
  display: block;
  font-family: 'Times New Roman', Times, Serif;
  font-size: 15px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120px;
}

.icon-frame-title:hover {
  height: 40px;
  white-space: normal;
}

.icon-frame-body {
  margin-top: 5px;
}

.icon-frame-price {

  padding-bottom: 5px;
  text-align: center;
  vertical-align: bottom;
  font-size: 15px;
}
