.dependency-message {
   font-style: italic;
   font-size: 15px;
}

.dependency-message p, h2 {
  text-align: center;
}

.dependency-message h2 {
  line-height: 1.3;
  font-weight: normal;
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}

.show-all{
  text-decoration: underline;
  color: grey;
  font-size: .8em;
}
.show-all:hover {
  cursor: pointer;
}