.module-icon {
  height: 70px;
  wdith: 100px;
  margin-bottom: 10px;
  vertical-align: middle;
  position: relative;
}


.module-icon-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30px;
  min-height: 30px;
  max-height: 70px;
  max-width: 100px;
}

.module-icon-image:hover {
  cursor: grab; 
}