.sideBar {
  background-color: #e6e6e6;
  border: 1px solid #cacaca;
  height: 100vh;
}

.module-container {
  height: 75%;
  overflow-y: scroll;
}

.sideBarTransition-enter {
  opacity: 0.01;
  //position: absolute;
  //top: -2em;
}

.sideBarTransition-enter.sideBarTransition-enter-active {
  //top: 10em;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.sideBarTransition-leave {
  opacity: 1;
}

.sideBarTransition-leave.sideBarTransition-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.sideBarTransition-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.sideBarTransition-appear.sideBarTransition-appear-active {
  opacity: 1;
}