
$font-heading: 'Roboto Condensed', sans-serif;
// $font-paragrpah: 'Open Sans', sans-serif;
$font-paragrpah: 'Roboto', sans-serif;

$black-faded: #424242;
$blue-dark: #5da8ba;
$blue-light: #71c9e9;
$green-light: #92ff4a;
$grey-light: #f7f8f8;
$grey-medium: #e5e5e5;
$grey-super-light: #fafafa;
$orange-light: #fea727;
$orange-meduim-light: #FF9800;
$orange-meduim: #FB8C00;
$red-light: #fc8b64;
$red: #ff7e61;
$teal-super-light: #5ec3be;
$teal-light: #55b6b1;
$teal: #49ada4;
