.col-wrapper {
  width:  1400px;
  margin: 0 auto;
  position: absolute;
}

.thumbnail-row {
  padding-top: 15px;
  padding-bottom: 10px;
}

.project-card {
  margin-top: 55px;
  width: 280px;
  border-radius: 4px;
  box-shadow: 0 4px 25px rgba(0,0,0,.3);
  display: inline-block;
}

.thumbnail-image {
  width: 75%;
  height: 210px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.project-card:hover {
  transform: scale(1.1);
  transition-duration: .3s;
  cursor: pointer;
}

.title-bar {
  position: relative;
  color: #5a5a5a;
  padding-top: 4px;
  font-size: 21px;
  height: 50px;
  background-color: #ebeced;
}

.title {
  margin: 11px auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px;
  display: block;
  overflow: hidden
}

.project-delete-button {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: .5;
}

.project-delete-button:hover {
  opacity: 1;
  cursor: pointer;
}

.project-thumbnail {
  margin-top: 41px;
  height: 125px;
  /*width: 200px;*/
}

@media only screen and (max-width: 1425px) {
  .col-wrapper {
    width: 1050px;
  }
}

@media only screen and (max-width: 1075px) {
  .col-wrapper {
    max-width: 700px;
  }
}

@media only screen and (max-width: 725px) {
  .col-wrapper {
    width: 450px;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .col-wrapper {
    width: 100%;
  }
}
