.project-navbar {
  position: fixed;
  hieght: 62px;
  padding-left: 15px
}

.logo-text {
  position: absolute;
  top: 12px;
  left: 70px;
  color: white;
  font-size: 27px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  vertical-align: middle;
}