.project-add-button {
  background-color: #fa8d28;
  display: inline-block;
  color: white;
  font-size: 17px;
  padding: 7px 17px;
  border-radius: 4px;
  margin-left: 245px;
}

.project-add-button:hover {
  cursor: pointer;
  background-color:#f99c46;
}
