.header {
  background-color: transparent;
  height: 65px;
  padding: 15px;
  position: fixed;
  top: 0;
  transition: background-color .5s ease;
  width: 100%;
  z-index: 9998;

  &.header-white {
    background-color: rgba(255, 255, 255, .96);
    border-bottom: 1px solid $grey-light;
    box-shadow: 0 0 50px -10px rgba(0, 31, 48, .2);
  }

  .header:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .header-logo {
    font-size: 25px;
  }

  .header-logo-image {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
    width: 1em;
  }


  .header-logo-text {
    font-size: 1em;
    color: $black-faded;
    vertical-align: middle;
  }

  .header-logo-text-bold {
    font-family: 'Lato';
    font-weight: 900;
  }

  .header-logo-text-light {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .header {
    .header-logo {
      font-size: 20px;
    }
  }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
