.info-card-wrapper{
  // margin-top: 100px;
}

.info-card {
  display: inline-block;
  font-size: 26px;
  padding: 30px;
  vertical-align: top;
}

.info-card-title {
  font-family: $font-heading;
  color: $black-faded;
  font-weight: normal;
  font-size: 1.1em;
  margin-top: 20px;
}

.info-card-text {
  font-size: 17px;
  color: #6d7784;
  line-height: 1.5;
  text-align: center;
  font-family: $font-paragrpah;
}


.no-engineer {
  color: $red;
}

.tutorial {
  color: $teal-light;
}

.price-estimate {
  color: $orange-light;
}


.icon-wrench {
  font-size: 1.1em;
}

.icon-school {
  font-size: 1.2em;
}

.icon-credit {
  font-size: 1.22em;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .info-card {
    font-size: 20px;
  }
}
