@import 'mixins';

.hero {
  background: url('/images/component-art-compressed.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100vh;
  margin-top: 5px;
  top: 0;
  width: 100%;
  z-index: -99;

  @include respond-to(small-screens) {
    background-size: 100% auto;
    background-position: top;
    height: initial;
  };

  @include respond-to(handhelds) {
    background-size: 100% auto;
    background-position: initial;
    height: initial;
  };
}

.hero-arduino-graphic {
  position: absolute;
  top: 0;
  left: 0;
}

.hero-circle-wrapper {
  border: 1px solid #000;
  height: 475px;
  width: 25%;
}

.hero-circle {
  background-color: $orange-light;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.45098) 0px 42px 98px 0px;
  color: white;
  font-size: 30px;
  height: 475px;
  left: 50%;
  opacity: .97;
  position: relative;
  position: relative;
  top: 20%;
  transform: translateX(-50%);
  width: 475px;

  @include respond-to(small-screens) {
    margin-top: 120px;
  };

  @include respond-to(handhelds) {
    margin-top: 120px;
  };

  .hero-circle-content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
}

.hero-title {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 45px;
  text-shadow: 2px 2px $orange-meduim-light;
  margin: 30px auto;
}
// low break at 858 on chrome
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .hero-circle {
    height: 400px;
    width: 400px;
  }

  .hero-title {
    font-size: 37px;
    width: 75%;
  }
}

@media only screen and (min-width : 480px) and (max-width : 768px) {
  .hero-circle {
    height: 375px;
    width: 375px;
  }

  .hero-title {
    font-size: 37px;
    width: 75%;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .hero-circle {
    height: 275px;
    width: 275px;
  }

  .hero-title {
    font-size: 24px;
    width: 75%;
  }
}
