.landing-navbar {
  position: relative;
  background-color: #f78d1e;
  overflow: hidden;
  width: 100%;
  z-index: 1 ;
  position: fixed;
  height: 65px;
  padding-left: 15px
}

.white-logo-image {
  position: absolute;
  top: 10px;
  height: 40px;
}

.landing-logo-text {
  position: absolute;
  top: 12px;
  left: 60px;
  color: white;
  font-size: 27px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px;
  vertical-align: middle;
}

.landing-page-body-wrapper {
  margin: 0 auto;
}


.landing-page-content {
  height: 500px;
  margin: 0 auto;
  max-width: 100%;
  background-size: cover;
  position: relative;
  padding-top: 200px;
}


.landing-page-text {
  font-size: 30px;
  color: white;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.landing-page-button {
  margin: 20px auto;
  background-color: #1fabfb;
  border-radius: 4px;
  padding: 15px 30px;
  width: 320px;
}

.landing-page-button:hover {
  cursor: pointer;
}