.landing-container, .col {
  height: 100%;
}

.landing-container {
}

.col {
  padding-top: 15px;
  display: inline-block;
}

.col-left {
  vertical-align: top;
  width: 40%;
}

.col-right {
  width: 60%;
}
