.design-to-pcb-demo {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.design-to-pcb-demo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.computer-wrapper {
  display: inline-block;
  margin-right: -3%;
  position: relative;
  width: 40%;
}

.inline-image {
  display: inline-block;
  vertical-align: middle;
}

.computer-image {
  width: 75%;
  width: 100%;
}

.circuit-board-image {
  width: 26%;
}

.dots {
  margin-right: 36px;
}

.less-dots {
  display: none;
}


.arrows-down,
.arrows-right {
  display: none;
  width: 45px;
}

.design-tool-screenshot {
  position: absolute;
  top: 8.3%;
  left: 6.9%;
  height: 61.7%;
  width: 86.1%;
}

@media only screen and (min-width : 480px) and (max-width : 1224px) {
  .dots {
    display: none;
  }

  .less-dots {
    display: none;
  }

  .arrows-right {
    display: inline;
    margin: 10vw;
    width: 7vw;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .inline-image {
    display: block;
  }

  .design-tool-screenshot {
    height: 61.8%;
    left: 17.7%;
    position: absolute;
    top: 8.3%;
    width: 65%;
  }

  .dots {
    display: none;
  }

  .less-dots {
    display: none;
  }

  .arrows-down {
    display: inline;
  }

  .arrows-right {
    display: none;
  }

  .computer-wrapper {
    width: 100%;
  }

  .computer-image {
    width: 75%;
    margin: 0 auto;
  }

  .circuit-board-image {
    margin: 0 auto;
    width: 64%;
  }

  .thumbnail-row {
    width: 100%;
  }

  .row {
    padding-left: 10px;
  }

  .col3 {
    width: 100%;
  }
}
