.section-heading-wrapper {
  margin-bottom: 100px;
  text-align: center;

  &.section-heading-wrapper-info {
    margin-bottom: 80px;
  }
}

.section-heading {
  font-family: $font-heading;
  color: $black-faded;
  font-weight: lighter;
  font-family: $font-heading;
  font-size: 2.25em;
  margin-bottom: 20px;
}

.section-sub-heading {
  font-family: $font-paragrpah;
  color: #6d7784;
  text-align: center;
  max-width: 650px;
  line-height: 1.5;
  margin: 0 auto;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  .section-heading {
    font-size: 1.95em;
  }

  .section-sub-heading {
    padding: 0 20px;
  }
}
