$font-heading: 'Roboto Condensed', sans-serif;
// $font-paragrpah: 'Open Sans', sans-serif;
$font-paragrpah: 'Roboto', sans-serif;



// $aqua: #1dd7b9;
// $black-faded: #424242;
// $black: #000;
// $blue-grey: #f0f4f7;
// $blue-light: #f2faff;
// $blue-steel-hover: #4c636e;
// $blue-steel: #607d8b;
// $red: #eb7e7f;
// $teal-dark: #bdbdbd;
// $teal-light: #4db6ac;
// colors
$black-faded: #424242;
$blue-dark: #5da8ba;
$blue-light: #71c9e9;
$green-light: #92ff4a;
$grey-dark: #808080;
$grey-light: #f7f8f8;
$grey-light: #f7f8f8;
$grey-medium-dark: #d9d9d9;
$grey-medium-light: #f5f5f5;
$grey-medium: #e5e5e5;
$grey-super-light: #fafafa;
$orange-light: #fea727;
$orange-meduim-light: #FF9800;
$orange-meduim: #FB8C00;
$red-light: #fc8b64;
$red: #ff7e61;
$teal-light: #55b6b1;
$teal-super-light: #5ec3be;
$teal: #008080;
$teal: #49ada4;
$white: #fff;

$color-primary: $teal;
$primary-color: #ffa726;
$tertiary-color: #81d4fa;
// typography
$font-main: 'Roboto', sans-serif;
$font-form: 'Raleway', sans-serif;
$font-modal: $font-form;
$font-title: 'Roboto Condensed', sans-serif;

$placeholder-font-weight: bold;
$placeholder-font-size: 18px;

// element structure
$onboard-screen-top-margin: 15vh;

// z-index map
$z-index: (
  footer: 100,
  info-button-icon: 300,
  info-button: 200,
  info-card: 100,
  modal: 100,
  nav: 200,
  popup-menu: 9999,
  project-nav-bottom: 200,
  project-nav-top: 100,
  sidebar: 100,
);

// break points
$break-small: 480px;
$break-medium: 768px;
$break-large: 1024px;
